[submodule "open_exoplanet_catalogue"]
	path = open_exoplanet_catalogue
	url = https://github.com/designbureau/open_exoplanet_catalogue.git
[submodule "open_exoplanet_catalogue/"]
	url = https://github.com/OpenExoplanetCatalogue/open_exoplanet_catalogue.git
